#parallax {
  background-image: url("../img/bg.jpg");
  height: 300px;
  background-size: cover;
  color: #fff;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  gap: 20px;
}

#parallax .description {
  padding: 0 10px;
}

#parallax a{
  color:#fce51d;
  padding: 15px;
  border: 2px solid #fce51d;
}